<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dados MASA | Desenvolve Turismo</title>
    <meta name="description"
          content="Desenvolve Turismo é uma plataforma de avaliação de destinos turísticos sustentáveis com base na MASA (Matriz Avaliativa de Sustentabilidade Acessível). Veja os dados da MASA."/>

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/default.css' %}" id="theme-color">
</head>
<body>


<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="my-auto text-left">
                <h2 class="text-white heading-black">Dados públicos</h2>
                <p class="text-light lead">Confira os dados disponibilizados.</p>
            </div>
            <div class="text-center scroll-indicator">
                <i class="fa fa-arrow-circle-down text-muted" aria-hidden="true"></i>
                <p class="text-muted">Role para baixo</p>
            </div>
        </div>
    </div>
</section>

<section class="py-4 bg-dark section-angle top-right bottom-right">
    <div class="container">
        <div class="row my-6">
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Gráfico</li>
                </ul>
            </div>
            <div class="col-md-4 mr-auto">
                <h3>Título</h3>
                <p class="lead">
                    descrição
                </p>
            </div>
        </div>

        <div class="row my-6">
            <div class="col-md-4 mr-auto">
                <h3>Título</h3>
                <p class="lead">
                    descrição
                </p>
            </div>
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Gráfico</li>
                </ul>
            </div>
        </div>

        <div class="row my-6">
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Gráfico</li>
                </ul>
            </div>
            <div class="col-md-4 mr-auto">
                <h3>Título</h3>
                <p class="lead">
                    descrição
                </p>
            </div>
        </div>

        <div class="row my-6">
            <div class="col-md-4 mr-auto">
                <h3>Título</h3>
                <p class="lead">
                    descrição
                </p>
            </div>
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Gráfico</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="py-7 bg-dark section-angle top-right bottom-right" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h2 class="text-white heading-black">Seu desenvolvimento começa aqui.</h2>
                <p class="text-light lead">Avalie-se agora mesmo e tenha seu resultado em mãos.</p>
                <a class="btn btn-primary" href="{% url 'forms:desenvolveturismo-pesquisa' %}">
                    Quero me avaliar
                </a>
            </div>
        </div>
    </div>
</section>


<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
{% load static %}
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>