{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home MASA | Desenvolve Turismo</title>
    <meta name="description"
          content="Desenvolve Turismo é uma plataforma de avaliação de destinos turísticos sustentáveis com base na MASA (Matriz Avaliativa de Sustentabilidade Acessível)."/>

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>

    <!-- CSS statics-->
    <link rel="stylesheet" href="{% static 'css/default.css' %}" id="theme-color">
</head>
<body>


<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Desenvolve Turismo</h1>
                <p class="lead py-3">Desenvolve Turismo é uma plataforma de avaliação de destinos turísticos sustentáveis com base na MASA (Matriz Avaliativa de Sustentabilidade Acessível).</p>
                <a class="btn btn-primary d-inline-flex flex-row align-items-center" href="{% url 'forms:desenvolveturismo-pesquisa' %}">
                    Realizar minha avaliação
                    <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="py-7 bg-dark section-angle top-right bottom-right">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h2 class="text-white heading-black">Para gestores, residentes locais e visitantes</h2>
                <p class="text-light lead">A Matriz Avaliativa engloba os 3 pontos de vista acerca do destino turístico, em cada uma das 5 dimensões.</p>
            </div>
        </div>
        
        <div class="row pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table d-flex flex-row overflow-auto">
                    <div class="card h-fixed">
                        <div class="card-body">
                            <h3 class="card-title text-primary mb-4 pt-3">Acessibilidade</h3>
                            <ul class="list-unstyled pricing-list">
                                <li class="highlighted" data-bs-toggle="popover" data-bs-trigger="hover" title="Aspecto avaliado"
                                    data-bs-content="Acessibilidade atitudinal refere-se a um conjunto de práticas e atitudes que visam promover a inclusão e eliminar barreiras sociais para pessoas com deficiência. Refere-se à maneira como as pessoas interagem e se comunicam com indivíduos com deficiência.">
                                    Atitudinal
                                    <i class="fa fa-info-circle px-1 text-muted"></i>
                                </li>
                                <li class="text-muted">Comunicacional<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Metodológica/Instrumental<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Arquitetônica<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Programática<i class="fa fa-info-circle px-1 text-muted"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary mb-4 pt-3">Governança</h3>
                            <ul class="list-unstyled pricing-list">
                                <li class="text-muted">Político-Institucional<i class="fa fa-info-circle px-1 text-muted"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary mb-4 pt-3">Ambiental</h3>
                            <ul class="list-unstyled pricing-list">
                                <li class="text-muted">Diversidade Biológica<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Saneamento Básico<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Energia<i class="fa fa-info-circle px-1 text-muted"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary mb-4 pt-3">Econômico</h3>
                            <ul class="list-unstyled pricing-list">
                                <li class="text-muted">Demanda Turística<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Oferta Turística<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Segunda Residência<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Benefícios Econômicos<i class="fa fa-info-circle px-1 text-muted"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-primary mb-4 pt-3">Sociocultural</h3>
                            <ul class="list-unstyled pricing-list">
                                <li class="text-muted">Saúde<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Segurança Pública<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Satisfação<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Cultura<i class="fa fa-info-circle px-1 text-muted"></i></li>
                                <li class="text-muted">Educação<i class="fa fa-info-circle px-1 text-muted"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-md-4 mr-auto">
                <h3>Todas as 5 dimensões.<p class="text-muted d-inline-flex">*</p></h3>
                <p class="lead">
                    O destino turístico sustentável avaliado como deve ser.
                </p>
                <p class="text-muted">*Nesta fase inicial, apenas a subdimensão Acessibilidade Atitudinal para gestores será avaliada.</p>
            </div>
            <div class="col-md-7 offset-md-1">
                <ul class="features-list">
                    <li>Relatório de desempenho</li>
                    <li>Gráficos interativos</li>
                    <li>Filtros</li>
                    <li>Questionário interativo</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--faq section-->
<section class="py-2" id="faq">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>O que é a MASA?</h6>
                        <p class="text-muted">MASA (Matriz Avaliativa de Sustentabilidade Acessível) é um conjunto de indicadores que avaliam a sustentabilidade de um destino turístico. Diferente de outros indicadores, a MASA possui a noção de Acessibilidade como dimensão própria da sustentabilidade. (Lamas, 2021)</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>O que é turismo sustentável?</h6>
                        <p class="text-muted">Turismo Sustentável é aquele que é responsável pelos seus impactos econômicos, sociais e ambientais, endereçando as necessidades dos visitantes, da indústria, do ambiente e das comunidades do entorno. (UNEP, 2005)</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Por que eu deveria realizar uma avaliação?</h6>
                        <p class="text-muted">A avaliação permite saber o seu estado atual de desenvolvimento com base em critérios nacional e internacionalmente reconhecidos.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>A minha pesquisa será pública?</h6>
                        <p class="text-muted">Em nenhuma hipótese. A sua pesquisa é personalíssima. Os relatórios comparativos são produzidos a partir de dados não identificáveis (tais como UF e cidade), os quais permitem saber o seu desempenho em relação aos pesquisados. Nenhum dado diretamente identificável será armazenado no sistema em qualquer cenário. Você será responsável pelo seu próprio relatório, que serão sempre individuais e particulares.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- call to action -->
<section class="py-7 bg-dark section-angle top-right bottom-right">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h2 class="text-white heading-black">Seu desenvolvimento começa aqui.</h2>
                <p class="text-light lead">Avalie-se agora mesmo e tenha seu resultado em mãos.</p>
                <a class="btn btn-primary" href="{% url 'forms:desenvolveturismo-pesquisa' %}">
                    Quero me avaliar
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item"><a href="#">Termos</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<!-- js -->
<script src="{% static 'js/popover.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
</body>
</html>